[submodule "src/wasi-libc"]
	path = src/wasi-libc
	url = https://github.com/WebAssembly/wasi-libc
[submodule "src/config"]
	path = src/config
	url = https://git.savannah.gnu.org/git/config.git
[submodule "src/llvm-project"]
	path = src/llvm-project
	url = git@github.com:lxyhit/llvm-project.git
	branch = my-17.0.6
